/* === главный файл стилей === */
@import url('variables.css');
@import url('base.css');
@import url('components.css');
@import url('layout.css');
@import url('weather.css');
@import url('responsive.css');
